# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python test/cache
.pytest_cache/

# Data (uncomment if you want to track data)
# /archive/

# Logs
*.log

# Build
dist/
build/

